* {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

video {
    width: 70%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.play {
    position: relative;
    top: -1%;
    color: white;
    font-size: 50px;
}